@import "tailwindcss";

:root {
  --background: #1b2030;
  --container: rgba(56, 61, 81, .65);
}

@theme inline {
  --color-background: var(--background);
  --color-container: var(--container);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
